.grid {
  width: 300px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
background-image: url(/project3/alien.webp);
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.shooter {
  background-image: url(/project3/gun.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.laser{
 background-image: url(/project3/bullet.png);
 background-size: cover;
 background-repeat: no-repeat;
}

.boom{
  background-image: url(/project3/boom.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
